@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["Email"]</h4>

<address>
    Av almirante Tamandaré<br />
    Xavante, Belford Roxo<br />
    <abbr title="Telefone">Telefone:</abbr>
    (21) 9 7713-0758
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:mar-kym@hotmail.com">mar-kym@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marcosoaresdelima@gmail.com">marcosoaresdelima@gmail.com</a>
</address>
